amx-items
auto-save-list/
ac-dict/
backup/
elpa/
straight/
eshell/history
eshell/lastdir
server/
ac-comphist.dat
bookmarks
tramp
projectile*
recentf
ensime
emojis
network-security.data
.python-environments
forge-database.sqlite
recentf~
transient/
