#
auto-save-list/

#
ac-dict/

#
backup/

#外部パッケージは管理外とする
elpa/

#
eshell/history
eshell/lastdir

#
server/


# etc
ac-comphist.dat
bookmarks
tramp
projectile*
recentf
ensime
emojis
network-security.data

# jedi
.python-environments
